<footer class="w-full text-[#959595] bg-neutral-800 pt-6">
	<dl class="w-full mx-auto md:flex">
		<div class="grid grid-cols-footer-list gap-2 max-w-sm mx-auto my-8 pb-8 border-solid border-b-[0.2px] border-neutral-600 ">
			<dt class="col-start-1 h-fit font-bold">Stack</dt>
			<dd class="col-start-2 h-fit">HTML, CSS</dd>
			<dd class="col-start-2 h-fit">TailwindCss</dd>
			<dd class="col-start-2 h-fit">EJS</dd>
			<dd class="col-start-2 h-fit">Node JS, Express</dd>
		</div>
		<div class="grid grid-cols-footer-list gap-2 max-w-sm mx-auto my-8 pb-8">
			<dt class="col-start-1  font-bold">Credits</dt>
			<dd class="col-start-2 "><a href="https://www.enneagraminstitute.com/">The Enneagram Institute<br>(Page redirection)</a></dd>
			<dd class="col-start-2 "><a href="https://www.digitalocean.com/">Digital Ocean<br> (Design)</a></dd>
			<dd class="col-start-2 ">Fontawesome<br> (SVGs)</dd>
			<dd class="col-start-2 ">GoogleFonts:<br> Inter<br> Montserrat<br> Source Sans 3</dd>
		</div>
	</dl>
	<div class="w-full bg-[#2d2d2d] p-6 m-0 text-[#959595] text-center text-xs">Dsgin7&copy;2022 - All Rights Reserved</div>
</footer>