<!-- <header>
	<p>I am the header, I am added to ejes files with the "include" key word</p>
</header> -->
<header class="py-3 font-montserrat min-h-[50px]">
	<div class="px-14 flex flex-row justify-between">
		<h1 class="py-4 text-3xl font-black text-blue-600 leading-[28px]">Knowing Yourself</h1>
		<div class="flex flex-row gap-4">
			<a href="/login" class="hidden md:block self-center text-gray-500">Login</a>
			<a href="/signup"
				class="hidden py-2 px-4 bg-blue-600 rounded text-white font-bold text-sm self-center md:block">Sign Up</a>
		</div>
		<div class="self-center md:hidden">
			<div class="w-7 border-b-2 mb-1 border-blue-500 border rounded"></div>
			<div class="w-7 border-b-2 mb-1 border-blue-500 border rounded"></div>
			<div class="w-7 border-b-2 mb-1 border-blue-500 border rounded"></div>
		</div>
	</div>
</header>